/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2021, 6:01:10 PM
    Author     : Neranji Sulakshika
*/


:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --clr-primary: rgb(36, 170, 212);
  --clr-border: #cfcfcf;
  --clr-background: #eceff1;
}

body {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: var(--clr-background);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "box1 box2 box3 box4"
    "box5 box6 box7 box4";
  grid-gap: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  padding: 1em;
}

nav{
  background-color: rgb(36, 170, 212); 
  color: #243a6f;
  grid-area: nav;
  font-size: 20px;
  text-align: center;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7 {  
  display: block; 
  box-sizing: border-box; 
  border-top: 4px solid var(--clr-primary);
  border-radius: 6px;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow: hidden;
  background-color: #ffffff;
}

#box1 {
  grid-area: box1; 
  height: 235px;
}

#box1 .name, #box2 .name, #box3 .name, #box4 .name, #box5 .name, #box6 .name, #box7 .name{
  color: rgb(36, 170, 212);
}

#box1 img{
  width: 170px;
  vertical-align: middle;
}

#box1:hover img{
  transform: scale(1.1);
}

#box2 {
  grid-area: box2;
  height: 235px;
}

#box2 img{
  width: 165px;
  vertical-align: middle;
}

#box2:hover img{
  transform: scale(1.1);
}

#box3 {
  grid-area: box3;
  height: 235px;
}

#box3 img{
  width: 145px;
  vertical-align: middle;
}

#box3:hover img{
  transform: scale(1.2);
}

#box4 {
  grid-area: box4;
  height: 490px;
}

#box4 img{
  height: 380px;
  width: 280px;
  vertical-align: middle;
}

#box4:hover img{
  transform: scale(1.1);
}

#box5 { 
  grid-area: box5;
  height: 240px;
}

#box5 img{
  width: 190px;
  vertical-align: middle;
}

#box5:hover img{
  transform: scale(1.1);
}

#box6 {
  grid-area: box6;
  height: 240px;
}

#box6 img{
  width: 160px;
  vertical-align: middle;
}

#box6:hover img{
  transform: scale(1.1);
}

#box7 {
  grid-area: box7;
  height: 240px;
}

#box7 img{
  width: 215px;
  vertical-align: middle;
}

#box7:hover img{
  transform: scale(1.1);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
  font-size: 20px;  
  color: #ffffff;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7";
  }